:root {
    --fontsize: 16px;
    --fontcolor: #000000;
}

body {
    font-size: var(--fontsize);
    color: var(--fontcolor);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

form{
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="submit"]{
    margin-top: 15px;
    padding: 8px 18px;
    cursor: pointer;
}